.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.fa-rss::before {
  content: "\f09e";
}

.fa-chevron-up::before {
  content: "\f077";
}

.fa-github::before {
  content: "\f09b";
}

.fa-gitlab::before {
  content: "\f296";
}

.fa-user::before {
  content: "\f007";
  padding: 0px 10px 50px 0;
}

.fa-external::before {
  content: "\f08e";
  margin-left: 5px
}

.fa-tags::before {
  content: "\f02c";
  padding: 0px 10px 50px 0;
}

.fa-category::before {
  content: "\f07c";
  padding: 0 10px 0px 0;
}
