<ul class="footer-links">
    {{ range .Site.Menus.footer }}
        <li>
            <a href={{ .URL }} target="_blank"><i class="fa fa-{{ .Params.icon }}"></i> {{ .Name }} </a>
        </li>
    {{ end }}
</ul>
